In [2]:
from google.cloud import bigquery as bq
from pathlib import Path
import os
import pandas as pd
import pandas_gbq as pgbq
import util_functions as util

service_credentials = 'Service_Credentials/big-query-horse-play-f37757d450b8.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = service_credentials

bq_client = bq.Client()

In [4]:
test_df = pd.read_csv('public_names_data_set/yob2013.txt')
test_df.head()
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33268 entries, 0 to 33267
Data columns (total 3 columns):
Sophia    33268 non-null object
F         33268 non-null object
21213     33268 non-null int64
dtypes: int64(1), object(2)
memory usage: 779.8+ KB

In [3]:
file_list = Path('public_names_data_set/').glob('*.txt')

file_list

names_df = pd.concat([pd.read_csv(file, header=None) for file in file_list], ignore_index=True, axis=0)

names_df.columns = ['Name', 'Gender', 'Count']

In [4]:
names_df.tail()
names_df.info()
names_df[names_df.Name == 'Jordan']

names_aggr = names_df.groupby(by=['Name', 'Gender']).sum()

names_aggr.loc['Jordan', :]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165043 entries, 0 to 165042
Data columns (total 3 columns):
Name      165043 non-null object
Gender    165043 non-null object
Count     165043 non-null int64
dtypes: int64(1), object(2)
memory usage: 3.8+ MB

        Count
Gender
F        5759
M       31068

In [5]:
util.get_dataset_ids(bq_client)

Datasets in project - big-query-horse-play:
names_dataset
second_test

['names_dataset', 'second_test']

In [44]:
pgbq.to_gbq(names_df, 'second_test.test_upload_table', project_id=bq_client.project)

In [45]:
util.get_table_ids(bq_client, util.get_dataset(bq_client, util.get_dataset_ids(bq_client)[1]))

Datasets in project - big-query-horse-play:
names_dataset
second_test
---------------------------------------
Dataset ID: second_test
Friendly Name: None
Full ID: big-query-horse-play:second_test
Labels: {}
Project: big-query-horse-play
Ref: DatasetReference('big-query-horse-play', 'second_test')
---------------------------------------
Tables in second_test:
sample_table
test_upload_table

['sample_table', 'test_upload_table']

In [ ]:
util.create_dataset