In [1]:
from google.cloud import bigquery as bq
import os
import pandas as pd
import pandas_gbq as pgbq
import util_functions as util
import matplotlib.pyplot as plt

%matplotlib inline

if os.environ['COMPUTERNAME'] == 'DESKTOP-9KG2MPJ':
    service_credentials = 'Service_Credentials/Big Query Horse Play-f8b9319b2129.json'
else:
    service_credentials = 'Service_Credentials/big-query-horse-play-f37757d450b8.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = service_credentials

ga_data_client = bq.Client(project='bigquery-public-data')

In [ ]:
ga_dataset_ref = util.get_dataset(ga_data_client, 'google_analytics_sample')

In [43]:
# Simple query to ensure I'm getting data out
query = (
"""
SELECT
    #visitId,
    trafficSource.campaign,
    device.deviceCategory,
    SUM(totals.visits) AS Visits,
    SUM(totals.pageviews) AS PVs,
    SUM(totals.newVisits) AS NewVisits
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20170101`
WHERE
    trafficSource.campaign != "(not set)"
GROUP BY
    #visitId,
    trafficSource.campaign,
    device.deviceCategory
""")

In [44]:
df = pgbq.read_gbq(query, dialect='standard')

In [45]:
df

                             campaign deviceCategory  Visits  PVs  NewVisits
0                    Data Share Promo        desktop       6   17          4
1  AW - Dynamic Search Ads Whole Site        desktop      22  110         17
2  AW - Dynamic Search Ads Whole Site         tablet       8   52          6
3                    Data Share Promo         tablet       1    4          1
4  AW - Dynamic Search Ads Whole Site         mobile      17  105         13
5                    Data Share Promo         mobile       5   42          3

In [18]:
# Testing partitioned tables and table suffix
query_mult_days = (
"""
SELECT
    date,
    device.deviceCategory,
    SUM(totals.visits) AS Visits,
    SUM(totals.pageviews) AS PVs,
    SUM(totals.newVisits) AS NewVisits
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`
WHERE
    _TABLE_SUFFIX BETWEEN '20170101'
    AND
    '20170105'
GROUP BY
    date,
    device.deviceCategory
ORDER BY
    date ASC,
    Visits DESC
""")

In [19]:
mult_day_df = pgbq.read_gbq(query_mult_days, dialect='standard')

In [22]:
mult_day_df.head(3)

       date deviceCategory  Visits   PVs  NewVisits
0  20170101        desktop     759  3246        576
1  20170101         mobile     503  1678        390
2  20170101         tablet     102   438         76

In [12]:
# Vs same thing using UNION ALL
query_mult_days_union = (
"""
WITH mult_ga_table AS (
    SELECT
        date,
        device.deviceCategory,
        SUM(totals.visits) AS Visits,
        SUM(totals.pageviews) AS PVs,
        SUM(totals.newVisits) AS NewVisits
    FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20170101`
    GROUP BY
        date,
        device.deviceCategory
    
    UNION ALL
    
    SELECT
        date,
        device.deviceCategory,
        SUM(totals.visits) AS Visits,
        SUM(totals.pageviews) AS PVs,
        SUM(totals.newVisits) AS NewVisits
    FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20170102`
    GROUP BY
        date,
        device.deviceCategory
    )

SELECT *
FROM mult_ga_table
ORDER BY
    date ASC,
    Visits DESC
""")
# Way less efficient from a writing perspective (maybe more performant?)

In [13]:
ga_mult_day_df = pgbq.read_gbq(query_mult_days_union, dialect='standard')

In [21]:
ga_mult_day_df.head(3)

       date deviceCategory  Visits   PVs  NewVisits
0  20170101        desktop     759  3246        576
1  20170101         mobile     503  1678        390
2  20170101         tablet     102   438         76

In [37]:
# Quick check that it returns similar data
table_suffix_sum = ga_mult_day_df[ga_mult_day_df['date'] == '20170101'].loc[:,"Visits"].sum()
union_table_sum = mult_day_df[mult_day_df['date'] == '20170101'].loc[:,"Visits"].sum()

table_suffix_sum == union_table_sum

True

In [53]:
# Working on getting event data to define conversion as a metric (sessions where hit of xyz event >= 1)
event_query = (
"""
SELECT
    #visitId,
    trafficSource.campaign,
    device.deviceCategory,
    hits.eventInfo.eventCategory,
    SUM(totals.hits) AS Hits,
    SUM(totals.visits) AS Visits,
    SUM(totals.pageviews) AS PVs,
    SUM(totals.newVisits) AS NewVisits
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20170101`
WHERE
    trafficSource.campaign != "(not set)"
GROUP BY
    #visitId,
    trafficSource.campaign,
    device.deviceCategory,
    hits.eventInfo.eventCategory
""")

In [55]:
event_hit_df = pgbq.read_gbq(event_query, dialect='standard')
# Need to utilize unnest to access the array data type

In [ ]:
event_hit_df